.Chart-Container {

}

.Chart-Chart {
  display: flex;
  align-items: end;
  text-align: center;
}

.Chart-DetailContainer {

}

.Chart-DetailBase {
  font-weight: bold;
}

.Chart-DetailDate {
  font-weight: lighter;
}

.Chart-DetailSort {
  font-style: italic;
}
