.wrapper {
}

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Helvetica, Arial, sans-serif;

  color: #2e3538;
  margin: 0;
  padding: 2rem;
  font-size: 8pt;
  line-height: 1.8;
  font-weight: 300
}

@media (max-width:30rem) {
  body {
    overflow-x: hidden;
    padding: .25rem;
  }
}

a:active, a:hover {
  outline: 0
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 2rem;
  font-weight: 200
}

img {
  border: 0
}
